<h1>Add Hockey Product to Store</h1>

<%= form_for @product, url: {action: "create"} do |f| %>
	<p>Name <%= f.text_field(:name) %></p>
	<p>Description <%= f.text_field(:description) %></p>
	<p>Price <%= f.text_field(:price) %></p>
	<p>Store ID <%= f.text_field(:store_id) %></p>

	<%= submit_tag("Add Product") %>

<% end %>